{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CheckIcover | Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

<header id="home">
    <div class="container">
        <div class="hamburger-menu">
            <i class="fas fa-bars toggle"></i>
            <i class="fas fa-times toggle"></i>
        </div>
        <nav class="d-flex align-items-center justify-content-center justify-content-lg-between">
            <a class="navbar-brand font-weight-bold" href="/" >
               CheckIcover
            </a>
            <ul class="nav-list text-center p-0">
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Help</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Inquiry</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Login</a>
                </li>
            </ul>
        </nav>
        <div class="hero-text w-100 text-white px-2 px-sm-0">
            <h1 class="display-4" data-aos="fade-down">Welcome</h1>
            <small class="lead mb-4" data-aos="fade-up">Get clarity about the status of your policies, and have a peacefull mind knowing
                                                knowing that your beneficiaries have access to your policy information even when you are gone.
            </small>

            <br>
            <div class="row">

                <div class="col-sm-8 m-auto">
                    <nav class="navbar navbar-light  m-auto" style="border-radius:5px;">
                        <form class="form-inline m-auto" action="{% url 'search' %}">
                          <input data-aos="fade-right"  style="max-width: 180px!important;" class="form-control mr-sm-2" type="search" placeholder="Last 9 digits of you ID" aria-label="Search">
                          <button data-aos="fade-left" class="btn btn-outline-success mx-1 my-2 my-sm-0" type="submit">Search</button>
                        </form>
                      </nav>
                </div>
            </div>
        </div>
        <div class="container" id="snow"></div>
    </div>

</header>


<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="{% static 'js/scripts.js' %}" type="text/javascript"></script>
<script src="{% static 'js/particles.min.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
</body>
</html>


















